*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild

# .gitignore files #
.idea
/app/src/main/java/com/wen/bangumi/network/api/bangumi/
/app/src/main/java/com/wen/bangumi/network/api/bilibili/
